* {
  margin: 0;
  padding: 0;
}
.game-playground {
  position: relative;
  background: #47565a;

  .cards-playground {
    width: fit-content;
    background: #336e7b;
    padding: 6px;
    position: relative;

    .row {
      width: fit-content;
      display: flex;

      .card-in-playground {
        border: black solid 1px;
        box-sizing: border-box;
      }
    }

    .game-over {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #47565a;
      top: 0;
      left: 0;
      opacity: 0.9;

      .game-over-title {
        color: #fff;
        text-align: center;
      }

      .options {
        text-align: center;

        button {
          min-width: 200px;
          background: transparent;
          border-color: black;
          margin: 10px;
        }
      }
    }

    .animation-text {
      position: absolute;
      width: 100%;
      background: #fff;
      top: 43%;
      left: 0;
      opacity: 0.9;
      text-align: center;
      font-size: 50px;
    }
  }

  .card {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    background: #86b5bd;
    margin: 6px;
    line-height: 100px;
    font-size: 60px;
  }

  .candidate-cards {
    height: 140px;
    background: #47565a;
    text-align: center;
    line-height: 140px;

    .candidate-card {
      margin-bottom: 20px;
      vertical-align: bottom;

      &:last-child {
        line-height: 80px;
        width: 80px;
        height: 80px;
        font-size: 48px;
      }
    }
  }
}
