.game-container {
  width: 460px;
  position: relative;
  display: block;
  margin: auto;
  background-color: #47565a;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
